@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<input type="date" class="form-control NgaySinhSua">

<input type="text" class="form-control HoVaTenSua">